* {
    margin: 0px;
}


/*==================== VARIABLES CSS ====================*/

:root {
    --margin: 10%
}


/*==================== CABECERA ====================*/

.header {
    margin-left: var(--margin);
    margin-right: var(--margin);
}

.navbar-nav.nav-item.nav-link a:hover {
    background-color: #a0f4f8;
}


/*==================== PRESENTACION ====================*/

.presentacion {
    text-align: center;
    margin-top: 5%;
    margin-left: var(--margin);
    margin-right: var(--margin);
}

.imagen {
    border-radius: 50%;
    overflow: hidden;
}


/*==================== SKILLS ====================*/

.skills {
    text-align: center;
    margin-left: var(--margin);
    margin-right: var(--margin);
}


/*==================== PROYECTOS ====================*/

.projects {
    text-align: center;
    align-items: center;
    margin-left: var(--margin);
    margin-right: var(--margin);
}

.card {
    margin: 20px;
}


/*==================== CONTACTOS ====================*/

.Contacto {
    text-align: center;
    margin-left: var(--margin);
    margin-right: var(--margin);
}