@import 'bootstrap/dist/css/bootstrap.min.css';
* {
    margin: 0px;
}

h1 {
    padding-bottom: 25px;
}


/*==================== VARIABLES CSS ====================*/

:root {
    --margin: 10%
}


/*==================== CABECERA ====================*/

.header {
    margin-left: var(--margin);
    margin-right: var(--margin);
    margin: 0%;
}

.navbar-brand {
    margin-left: 30%;
}

.navbar-nav.nav-item.nav-link a:hover {
    color: #a0f4f8;
}

#navbarNavDropdown {
    margin-right: 20%;
}

section {
    padding-top: 5%;
}


/*==================== PRESENTACION ====================*/

.presentacion {
    text-align: justify;
    align-items: center;
    margin-top: 3%;
    margin-left: var(--margin);
    margin-right: var(--margin);
}

.presentacion dt {
    font-size: x-large;
}

dd {
    margin-top: 15px;
}

.imagen {
    border-radius: 50%;
    overflow: auto;
    width: 100%;
    padding: 10%;
    padding-left: var(--margin);
    padding-right: 20%;
}


/*==================== FORMACION ====================*/

.formaciones {
    text-align: center;
    margin-left: var(--margin);
    margin-right: var(--margin);
}

.formaciones a {
    text-decoration: none;
}

.formaciones h6 a:hover {
    text-decoration: underline;
}

.formaciones h2 {
    padding-bottom: 2%;
}

.formaciones.col {
    margin-right: 20px;
}


/*==================== SKILLS ====================*/

.skills {
    text-align: center;
    align-items: center;
    margin-left: var(--margin);
    margin-right: var(--margin);
}

.skills h2 {
    padding-bottom: 2%;
}

.skills.col {
    margin-right: 80px;
}

.progress {
    margin-top: 2%;
}

.col {
    min-height: 244px;
}

.accordion {
    max-width: 80%;
    text-align: center;
}

.accordion-header {
    padding: 0px;
}

.accordion-button {
    font-weight: bold;
}


/*==================== PROYECTOS ====================*/

.projects {
    text-align: center;
    align-items: center;
    margin-left: var(--margin);
    margin-right: var(--margin);
}

.projects p {
    font-size: larger;
}

.card {
    margin: 20px;
}


/*==================== CONTACTOS ====================*/

.Contacto {
    text-align: center;
    margin-left: var(--margin);
    margin-right: var(--margin);
}

#Contact p {
    font-size: larger;
}