.nav-link:hover{
    background: rgb(92, 91, 90);
    transition: 0.6s;
}

.card .card-img-overlay .text-center a{
    text-decoration: none;
}

.card .card-img-overlay .text-center a:hover{
    color:grey;
}
